body {
  margin: 02em;
}

.cover {
  height: 400px;
  background-image: url(https://cdn.glitch.global/a80f6a63-9e11-4fe0-9151-f0c71294672a/andrik-langfield-Up9rQ3pk9XQ-unsplash.jpg?v=1645158257553);
  background-size: cover;
  background-position: center;
  background-color:rgba(0,0,0,0.2);
  background-blend-mode:darken;
  color: #D4E6F1;
  
}

.card{
  border: 0 !important;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),  0 2px 4px -1px rgba(0,0,0,0.06);
  
  
  
}