body {
  margin: 2em;
}

.cover {
  height: 400px;
  background-image: url(https://cdn.glitch.global/a80f6a63-9e11-4fe0-9151-f0c71294672a/kelly-sikkema-6aY-6B3MiZ4-unsplash.jpg?v=1645157986735);
  color: blue;
  background-size: cover;
  background-position: center;
}
