body {
  margin: 0em;
  font-family: 'Libre Franklin', sans-serif;
  
}

h1,h2,h3,h4,h5{
  font-family: "Poppins",sans-serif;
}
.cover {
  height: 500px;
  background-image: url(https://cdn.glitch.global/a80f6a63-9e11-4fe0-9151-f0c71294672a/rsz_andrik-langfield-up9rq3pk9xq-unsplash.jpg?v=1646212148688);
  background-size: cover;
  background-position: center;
  background-color:rgba(0,0,0,0.2);
  background-blend-mode:darken;
  color: #EAF2F8;
  
  
}

.cover-small{
  height:300px;
  background-blend-mode:normal;
}

.card{
  border: 0 !important;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.2), 0 2px 4px -1px rgba(0,0,0,0.3)
  
  
}

.navbar-nav li:hover>ul.dropdown-menu{
  display:block;
}

h6{
  font-family: "Poppins",sans-serif;
  font-size:20px;  
}

h7{
  margin: 0em;
  font-family: "Poppins",sans-serif;
  font-size:20px;  
}

.box1 figure > a {
  float: left;
  width: 75%;
}
.boxtitle { font-family: "Poppins",sans-serif;font:30px ;display:inline-block;margin-bottom:20px;float:right;}